@media only screen 
     and (min-width : 200px)
     and (max-width : 568px)
     and (orientation : portrait){
          main {
               width: 90%;
               height: 85% !important;
          }
}

@media only screen 
     and (min-width : 768px)
     and (max-width : 1024px)
     and (orientation : portrait){
          main {
               width: 45%;
               height: 60%;
          }

}